<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Google Maps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="map-container">
    <div class="search-section">
      <ion-searchbar 
        [(ngModel)]="locationName" 
        placeholder="Enter address or place..." 
        (ionClear)="locationName = ''"
        (keyup.enter)="updateMap()"
        debounce="500"
        mode="ios"
      ></ion-searchbar>
      <ion-button expand="block" (click)="updateMap()">
        <ion-icon slot="start" name="search-outline"></ion-icon>
        Find Location
      </ion-button>
    </div>

    <ion-card class="map-card">
      <div class="iframe-wrapper">
        <iframe 
          [src]="mapUrl" 
          width="100%" 
          height="450" 
          frameborder="0" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy">
        </iframe>
      </div>
    </ion-card>

    <div class="info-footer" *ngIf="locationName">
      <ion-chip outline color="primary">
        <ion-icon name="pin-outline"></ion-icon>
        <ion-label>{{ locationName }}</ion-label>
      </ion-chip>
    </div>
  </div>
</ion-content>
